.button {    
    font-family: 'Ubuntu', sans-serif;
    font-size: 0.8125rem;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    padding:0.5625rem 1rem;
    border: none;
    border-radius: 0.25rem;
    color: $white;
    cursor: pointer;
    transition: .3s;
}

.button__order, .button__close {
    background: $orange;
}
.button__order:hover {
    background: $red;
}
.button__more {
    background: $black;
    @include phones {
        content: "Читать отзыв";
    }
}
.button__more:hover {
    background: $black;
    border: none;
}
