@function rem($px) {
    @return $px / rem(16px) + 0rem;
}
//colors
$orange: #e35028;
$yellow: #f9b43b;
$grey: #2f3234;
$black: #1f2122;
$red: #c1401e;
$white: #fff;
$green: #8BC03F;

//media
$phones: 480px;
$tablets: 768px;
$laptop: 992px;
$desktop: 1200px;

//normalize
//@import "css/layout/normalize";

// media
@import "layout/media";

//layout
@import "layout/fonts";
@import "layout/base";

//blocks
@import "blocks/header";
@import "blocks/nav";
@import "blocks/button";
@import "blocks/title";
@import "blocks/promo";
@import "blocks/advantage";
@import "blocks/review";
@import "blocks/team";
@import "blocks/menu";
@import "blocks/location";
@import "blocks/socials";
@import "blocks/contacts";
@import "blocks/footer";
@import "blocks/form";
@import "blocks/hanburger_menu";
@import "blocks/slider";
@import "blocks/full-screen_menu";
@import "blocks/modal";
@import "blocks/how-work";




