.advantages {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: url(advantages_img/bg.png) no-repeat;
    padding: 130px 85px;
}
.advantages__title {
    text-align: center;
}
.advantages__list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.advantage__item {
    text-align: center;
    max-width: 30%;
}
