.advantages {
    width: 100%;
    display: flex;
    flex-direction: column;  
    align-items: center;  
    background: url(advantages_img/bg.png) center center/cover no-repeat;
    padding: 7.0625rem 4.375rem;
}
.advantages__title {
    display: flex;
    text-align: center;
    margin-bottom: 1.875rem;
}
.advantages__list {
    max-width: 60.625rem;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.advantage__item {
    text-align: center;
    max-width: 30%;
}
.advantage__img {
    margin-bottom: 1.4375rem;
}

.icon-meat {
    width: 6.0625rem;
    height: 5.5625rem;
    fill: $orange;
}
.icon-hand {
    width: 4.5625rem;
    height: 5.3125rem;
}
.icon-natural {
    width: 5.5rem;
    height: 4.6875rem;
    fill: $green;
}
.advantage__title {
    margin-bottom: 0.3125rem;
}
