.btn__order {    
    font-family: 'Ubuntu', sans-serif;
    font-size: 0.8125rem;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 0.075rem;
    text-transform: uppercase;
    padding: 0.625rem 0.5rem;
    border: 0;
    border-radius: 0.25rem;
    background: $orange;
    color: $white;
    cursor: pointer;
    transition: .3s;
}
.btn__order:hover {
    background: $red;
}
.btn__more {
    font-family: 'Ubuntu', sans-serif;
    font-size: 0.875rem;
    font-weight: 500;
    text-decoration: none;
    /*letter-spacing: 0.05rem;*/
    text-transform: uppercase;
    padding: 0.625rem 0.5625rem;
    border: 0;
    border-radius: 0.25rem;
    background: $grey;
    color: $white;
    cursor: pointer;
    transition: .3s;
}
.btn__more:hover {
    background: $black;
}
