.contacts {
    font-style: normal;
}
.contacts p {
    font-size: 13px;
}
.icon-phone {
    width: 12px;
    height: 11px;
    fill: $orange;
}
.phone__number {
    font-weight: 700;
    color: $orange;
}