.contacts {
    font-style: normal;
}
.contacts p {
    font-size: 0.8125rem;
}
.icon-phone {
    width: 0.75rem;
    height: 0.6875rem;
    fill: $orange;
}
.phone__number {
    font-weight: 700;
    color: $orange;
    text-decoration: none;
}