.header {
    min-height: 75px;             
}
.header__container {    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 75px; 
    padding: 11px 84px 11px 73px;
    min-width: 1100px; 
  } 
.header__right {
    display: flex;
    flex: row start; 
}
