.header__container {    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 68.75rem;
    min-height: 4.6875rem; 
    padding: 0.81250rem 5.0625rem 0 4.75rem;    
    @include tablets {
        padding: 1rem;       
    }
} 
.header__right {
    display: flex;
    flex-direction: row;
    transform: translateY(-50%);
}
