.menu__container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    background: url(menu_img/menu_bg.png) center center/cover no-repeat;    
}
.menu__title {
    position: absolute;
    top: 10%;
    left: 20%;    
    color: $white; 
}
.menu-acco__list {
    position: absolute;
    height: 100%;
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: flex-end;
    width: 50%;
    @include phones {
        width: 100%;
    }
}
.menu-acco__item {
    height: 100%;
    min-width: 5rem;
    display: flex;
    opacity: 0.6;
}

.menu__meat {
    background: url(menu_img/meat_menu.png) center center/cover no-repeat;   
}
.menu__vegetarian {
    background: url(menu_img/vegetarian_menu.png) center center/cover no-repeat;
}
.menu__diet {
    background: url(menu_img/diet_menu.png) center center/cover no-repeat;
}
.menu-acco__trigger{
    position: relative;
    height: 100%;
    width: 5rem;
    display: block;
}
.menu-acco__trigger-text{
    position: absolute;
    left: 50%;
    margin-top: 1.25rem;    
    bottom: 0;
    color: $white;
	white-space: nowrap;    
    transform: rotate(-90deg) translateY(-50%);
    transform-origin: 0 0; 
}

.menu-acco__item--active .menu-acco__trigger-text {
    color: $yellow;
}
.menu-acco__content{
    width: 0;
    overflow: hidden;    
}

.menu-acco__item--active .menu-acco__content{
    width: 100%;
    background: $grey;
    padding: 1rem;
    overflow: visible;
}

.menu-acco__content p {
      color: $white;
}
