.promo {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;    
    background: url(main_img/bg_promo.png) center center/cover no-repeat;
    padding: 5rem 8.125rem 3.125rem 6.625em; 
    @include tablets {
        align-items: center;
        text-align: center;
        padding: 0;
    }
}
.promo__container {
    display: flex;
    @include tablets {
        flex-direction: column;
    }

}
.promo__img {
    position: relative;
    text-align: center;
    min-width: 28.1875rem;
    z-index: 3;
    @include tablets {
        /*min-width: 33rem;*/
    }
}
.promo__img::after {
    content: '';
    position: absolute;
    top: 13%;
    right: 4%;
    width: 100%;
    height: 100%;
    background: url(main_img/drops.png) no-repeat;
}
.promo__desc {
    margin-top: 7.5625rem;
    max-width: 25.9375rem;
    @include tablets {
        margin-top: 2rem;
    }
}

.promo__title {
    color: $yellow;
}
.promo__subtitle {
    @include lifehack();
    font-size: 4.0625rem;
    font-weight: 500;
    color: $white;
    line-height: 4.0625rem;
}

.scroll__btn {
    width: 1.8125rem;
    height: 0.9375rem;
    background-image: url(main_img/arrow-scroll.png);
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    position: absolute;
    bottom: 2.5625rem;
    left: 50%;
    transform: translateX(-50%);
  }