.slider__container {
    background: url("../../burgers_img/Rectangle_1.png") center center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.slider {
    display: flex;
    min-width: 58.75rem;
    overflow: hidden;
    margin: 0 10px;
    color: $white;
}

.slider__items {
    display: flex;
    position: relative;    
    will-change: right;
}
.burger__item {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    max-width: 58.75rem;
    height: 100%;    
}
.burger__pic {
    margin-right: 2rem;
}
.icon-burger {
    fill: $white;
    width: 2.875rem;
    height: 2.75rem;
}
.icon-kkal {
    fill: $white;
    width: 3.75rem;
    height: 3.75rem;    
    position: relative;
}
.burger__img {
    min-width: 28.125rem;
}

.burger__ingredients {
    width: 5.625rem;
    height: 5.625rem;
    background-color: $orange;
    opacity: 0.7;
    border-radius: 0.3125rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.kkal__number {
    width: 3.75rem;
    height: 6.125rem;
    text-align: center;
    opacity: .5;
}
.value-kkal {
    position: relative;
    padding-top: 0.5rem;
}
.value {
    position: absolute;
    top: 45%;
    left: 25%;
    font-size: 1.125rem;
}

.burger__title {
    line-height: 4.0625rem;
    margin-top: 1.125rem;    
    margin-bottom: 2.4375rem;
}

.burger__desk p {
    line-height: 1.5rem;
    margin-bottom: 0.5rem;
}
.burger__price {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    color: $orange;
}
.price {
    margin-right: 1.625rem;
}
.currency {
    font-size: 1.875rem;
}
.burger__price a {
    
}
