.slider-burgers {
    background-color: $yellow;
    background-image: linear-gradient(to top, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%, #f9b43b 100%);
    
}
.slider__container {
    display: flex;
    justify-content: center;
    height: 100%;
          
}
.slider {
    display: flex;
    justify-content: center;
    margin: 0 2rem;
    overflow: hidden;
    color: $white;
}

.slider__items {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;    
    will-change: right;
}
.arrow__left, .arrow__right {
    position: absolute;
    top: 50%;
}
.arrow__left {
    left: 0;
}
.arrow__right {
    right: 0;
} 
.arrow-scroll__pic.left {
    transform: rotate(90deg);
}
.arrow-scroll__pic.right{
    transform: rotate(-90deg);
}
.burger__item {    
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    max-width: 61.75rem;
    height: 100%; 
    @include tablets {
        flex-direction: column;
        margin: 9rem 2rem;
        padding: 5rem;
        width: 100%;
    }   
}
.burger__pic {
    display: flex;
    flex-direction: column;
    @include tablets {
        position: relative;
        align-items: center;
    }
}
.burger__desc {
        text-align: left;
        max-width: 30rem;
    @include tablets {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}
.icon-burger {
    fill: $white;
    width: 2.875rem;
    height: 2.75rem;
}
.icon-kkal {
    fill: $white;
    width: 3.75rem;
    height: 3.75rem;    
    position: relative;
}
.burger__img {
    min-width: 28.125rem;
    @include tablets {
        padding-top: 5rem;
        width: 70%;
        @include phones {
            min-width: 25rem;;
        }
    }
}

.burger__ingredients {
    width: 5.625rem;
    height: 5.625rem;
    background-color: $orange;
    opacity: 0.7;
    border-radius: 0.3125rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include tablets {
        position: absolute;
        top: 0;
        left: 0;
    }
}
.kkal__number {
    width: 3.75rem;
    height: 6.125rem;
    text-align: center;
    opacity: .5;
    @include tablets {
        position: absolute;
        top: 0;
        right: 0;
    }
}
.value-kkal {
    position: relative;
    padding-top: 0.5rem;
}
.value {
    position: absolute;
    top: 45%;
    left: 25%;
    font-size: 1.125rem;
}

.burger__title {
    line-height: 4.0625rem;
    margin-top: 1.125rem;    
    margin-bottom: 2.4375rem;
}

.burger__desk p {
    line-height: 1.5rem;
    margin-bottom: 0.5rem;    
}
.burger__price {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    color: $orange;
}
.price {
    margin-right: 1.625rem;
}
.currency {
    font-size: 1.875rem;
}
.burger__price a {
    
}
