.team {
    position: relative;
    width: 100%;
    display: flex;
    background: url(team_img/team_bg.png) center center/cover no-repeat;
    padding: 3.125rem 6.25rem;
}
.team__container {
    position: absolute;
    top:0;
    right: 0;
    width: 50%;
    height: 100%;
    padding: 5.5rem 5.9375rem;
    display: flex;
    flex-direction: column;
    background-color: $grey;
    opacity: 0.93;

    @include tablets {
		width: 100%;
		text-align: center;		
	}
}
.team__title {
    margin-bottom: 1.625rem;
    color: $yellow; 
}
.team-members {
    
    color: $white;
}
.team-members__list {
    display: flex;
    flex-wrap: wrap;
    @include tablets {
		justify-content: center;	
	}
}
.member__item {
    margin-bottom: 2rem;
    list-style-type: none;
    cursor: pointer;
}
.member__name {
    @include tablets {
		font-size: 1.5625rem; 
	}
}
.member__name:hover {
    color: $yellow;
}
.member__name:before {
    content: "";
    display: inline-flex;
    margin-right: 0.5625rem;
    border-left: 0.3125rem solid transparent;
    border-right: 0.3125rem solid transparent;
    border-top: 0.4375rem solid $yellow;
    transition: .3s;
}
.member__name:hover.member__name:before {
    transform: rotate(180deg);
}
.member__desc {
    overflow: hidden;
    height:0;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    width: 100%;
}
.member__item:hover .member__desc {
    overflow: visible;
    height: 6.25rem;
}
.member__content {
    width: 13rem;
}
.member__pic {
    margin-right: 1rem;
}
.member__avatar {
    display: block;
    width: 6.25rem;
    height: 6.25rem;
    border-radius: 50%;    
}

.member__special {
    font-size: 0.875rem;
    margin: 0 0 0.875rem 0;
}
